body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td
	{
	margin: 0;
	padding: 0;
}

.loading {width:140px; position: absolute; top:20px; right:10px; z-index:199;background-color:#ffffae;}
.antxt{padding-left:10px;}

a {
	text-decoration: none;
}

img {
	border: 0px;
}

body {
	background-color: transparent;
	font-size: 12px;
	font-family: Verdana,Tahoma,"BitStream vera Sans",Arial,Helvetica,sans-serif;
	/*line-height: 26px;*/
}

legend {
	border: 2px solid #D0D0D0;
	font-size: 14px;
	background: #EEF3F8;
	margin-left: 40px;
}

fieldset {
	background: white;
	border: 2px solid #D0D0D0;
}

legend a {
	color: blue;
}

legend a:hover {
	color: red;
	text-decoration: underline;
	display: block;
}

input inputType {
	border: 2px solid #CCCCCC;
	line-height: 16px;
	font-size: 14px;
}

textArea {
	border: 2px solid #CCCCCC;
	background: white;
}

.h_margin10 {
	margin-left: 10px;
	margin-right: 10px;
}

a {
	blr: expression(this.onFocus = this.blur () )
} /* IE */
a:focus {
	outline: none;
} /*firefox*/
.pagewidth {
	width: 96%;
	min-width: 1088px;
	_width: expression(( documentElement.clientWidth <   1088) ?   "1088px"
		:   "96%" );
}

.pageleft {
	width: 150px;
}

.pageright {
	width: 100%;
}

.w1,.w2,.w3,.w4,.w5,.w6,.w7,.w8 {
	float: left;
	overflow: hidden;
	padding: 0 5px;
}

.w1 {
	width: 50px;
}

.w2 {
	width: 80px;
}

.w3 {
	width: 100px;
}

.w4 {
	width: 140px;
}

.w5 {
	width: 180px;
}

.w6 {
	width: 210px;
}

.w7 {
	width: 250px;
}

.w8 {
	width: 300px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.even {
	background-color: #EBEFF9;
}

.odd {
	background-color: white;
}

.clear_left {
	clear: left;
}

.clear_right {
	clear: right;
}

.clear_both {
	clear: both;
}

.pagecontainer,.pagetop,.menucontent,.pagebottom {
	margin: auto;
}

.pagebody {
	padding: 0;
	border: 0;
	margin: 0;
	width: 100%;
}

.pagetop {
	
}

.menubody {
	background: url(/images/spsbck.gif) repeat-x;
	background-position: 0px -13px;
	margin-bottom: 5px;
}

.menucontent {
	height: auto;
	line-height: 20px;
	height: 50px;
	background: url(/images/spsbck.gif) repeat-x;
	background-position: 0px -13px;
}

.pagebottom {
	height: 40px;
	margin-top: 10px;
	border-top: 1px solid #CCC;
	padding-top: 10px;
	text-align: center;
	color: #6E6E6E;
}

.pageleft {
	border: 0;
	padding: 0;
	margin: 0;
	vertical-align: top;
}

.pageright {
	border: 0;
	padding: 0;
	margin: 0;
	vertical-align: top;
}

.mymenuhead {
	background: url(/images/roundedcornr_543364.gif) no-repeat;
	padding-left: 8px;
	line-height: 28px;
	font-weight: bold;
	font-size: 15px;
	margin-bottom: 2px;
	vertical-align: baseline;
}

.mymenuhead a {
	color: black;
	display: block;
}

.mymenuhead a:hover {
	color: blue;
	text-decoration: underline;
}

.mymenu {
	vertical-align: baseline;
	float: right;
}

.mymenu a {
	line-height: 28px;
	font-size: 12px;
	width: 146px;
	display: block;
	color: black;
	background-image: url(/images/roundedcornr_8.gif);
	overflow: hidden;
	background-repeat: no-repeat;
	text-indent: 16px;
	margin-bottom: 2px;
}

.mymenu a:hover {
	color: red;
	text-decoration: underline;
	background-image: url(/images/roundedcornr_12.gif);
}

.mymenu a:hover[class="selected"] {
	color: white;
	background-image: url(/images/roundedcornr_11.gif);
}

.mymenu .selected {
	color: white;
	background-image: url(/images/roundedcornr_11.gif);
}

.contenthead {
	background: url(/images/back1.jpg) repeat-x;
	padding-left: 1em;
	padding-right: 1em;
	border-left: 1px solid #D0D0D0;
	border-right: 1px solid #D0D0D0;
	border-bottom: 1px solid #D0D0D0;
	line-height: 28px;
	margin-bottom: 4px;
	font-weight: bold;
}

.contenthead a {
	color: blue;
}

.contenthead a:hover {
	color: red;
}

.path {
	line-height: 26px;
	border-bottom: 1px solid #CCC;
	margin-bottom: 4px;
	padding-left: 1em;
}

.path a {
	color: blue;
	margin-left: 10px;
	margin-right: 10px;
}

.path a:hover {
	color: red;
}

.table_data {
	line-height: 22px;
	border: 2px solid #DDDDDD;
	border-collapse: collapse;
	width: 100%;
	table-layout: auto;
}

.table_data2 {
	line-height: 22px;
	border: 2px solid #DDDDDD;
	border-collapse: collapse;
	width: 100%;
	table-layout: auto;
}

.table_data th,.table_data td {
	padding: 0 4px;
	border: 1px solid #DDDDDD;
	text-align: left;
	word-break: break-all;
	overflow: hidden;
	word-wrap: break-word;
}

.table_data2 th,.table_data2 td {
	padding: 0 4px;
	border: 1px solid #DDDDDD;
	text-align: left;
	word-break: break-all;
	overflow: hidden;
	word-wrap: break-word;
}

.table_data th {
	font-weight: bold;
	background-color: #869BBB;
	color: white;
}

.table_data2 th {
	font-weight: bold;
	background-color: #869BBB;
	color: white;
}

.table_data a {
	text-decoration: none;
	color: blue;
}

.table_data2 a {
	text-decoration: none;
	color: blue;
}

.table_data a:hover {
	text-decoration: underline;
	color: red;
}

.table_data2 a:hover {
	text-decoration: underline;
	color: red;
}

.table_data tr:hover td {
	background-color: #F5F5E0;
}

.fpage {
	height: auto;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 25px;
}

.fpage a {
	text-align: center;
	border: 1px solid #F90;
	padding: 1px 4px;
	text-decoration: none;
	color: black;
}

.fpage a:hover {
	color: red;
}

.currentpage {
	background: #FC9;
	color: #F63;
}

.menu_search_form {
	margin-top: 12px;
	vertical-align: middle;
}

.menu_search_span {
	border: 1px solid #CCC;
	display: inline-block;
	background: white;
}

.menu_text {
	border: 1px solid #CCCCCC;
	height: 20px;
	width: 170px;
	border: 0px none;
	margin: 0px;
}

.menu_lable {
	font-size: 14px;
}

.menu_search {
	background: white url(/images/serch.png) no-repeat 0em 0.15em;
	vertical-align: top;
	width: 19px;
	height: 19px;
	margin: 0px;
	border: 0px none;
	cursor: pointer;
}

.tagger {
	list-style: none;
	list-style-position: outside;
	text-align: center;
}

.tagger li {
	float: left;
	width: 120px;
}

.tagger a {
	text-decoration: none;
	font-weight: normal;
	display: block;
	color: blue;
}

.tagger a:hover {
	color: red;
	font-size: 14px;
}

.tagger .select {
	font-weight: bold;
	background: url(/images/roundedcornr_6.gif) no-repeat;
	color: white;
	font-size: 14px;
}

legend {
	border: 2px solid #D0D0D0;
	font-size: 16px;
	font-weight: bold;
	background: #EEF3F8;
	margin-left: 20px;
	padding: 2px 5px;
}

fieldset {
	background: white;
	border: 2px solid #D0D0D0;
}

legend a {
	color: blue;
}

legend a:hover {
	color: red;
	text-decoration: underline;
	display: block;
}

.bk1,.bk2,.bk3,.bk4 {
	margin-top: 6px;
	margin-bottom: 6px;
	padding: 10px 0px;
}

.bk1 {
	background: #FFFCEC;
	border: 2px solid #FFE6D9;
}

.bk2 {
	background: #f0fff0;
	border: 2px solid #CEF6CE;
}

.bk3 {
	background: #EFFBFB;
	border: 2px solid #81BEF7;
}

.bk4 {
	background: white;
	border: 2px solid #CEF6CE;
}

.smallImg {
	width: 318px;
	height: 150px;
}

.item {
	border: 2px solid #D0D0D0;
	line-height: 26px;
	font-size: 14px;
	margin-bottom: 10px;
}

.item_head {
	background: #F4F6FC;
	font-weight: bold;
	border-bottom: 1px solid #D0D0D0;
}

.item a {
	color: blue;
}

.item a:hover {
	color: red;
	text-decoration: underline;
}

.item2 {
	border: 2px solid black;
	line-height: 26px;
	font-size: 14px;
	margin-top: 10px;
}

.item2_head {
	background: gray;
	font-weight: bold;
	border-bottom: 1px solid #D0D0D0;
	color: white;
	text-indent: 3em;
}

/*
.cluster_choise:hover{
    color:red;
    background:#F5F5F5;
}
*/
.server_selected {
	color: green;
	background: #F5F5F5;
	display: block;
}

.server_choise {
	display: block;
	color: #37228C;
}

.server_selected:hover,.server_choise:hover {
	color: red;
}

#imgContainer32134 img {
	cursor: pointer;
}

.onHover:hover {
	background: #F7F8E0;
}

.promptDiv {
	position: absolute;
	border: 1px solid black;
	background: white;
}

table.tooltip {
	border: 1px solid black;
	width: 100%;
	text-align: center;
	font-size: 13px;
	background: white;
}

.tooltip th {
	background: #CECEF6;
}

.tooltip td {
	border: 1px solid #6A6AFF;
	background: #EFF5FF;
	padding: 4px 2px;
	font-size: 13px;
}

.btn1 {
	background-color: #2B8C00;
	border: 0;
	font-size: 13px;
	color: #fff;
	font-weight: bold;
	padding: 6px 12px;
	display: inline-block;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	cursor: pointer;
}

.btn1:focus {
	background-color: #216B00;
}

.input1,.input_err {
	border: #ccc solid 2px;
	background-color: #fff;
	color: #666;
	margin-left: 15px;
	padding: 5px;
	display: inline-block;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px; ! important;
	position: relative;
}

.input1:focus {
	border: 2px solid #ef9e4d;
	background: #fff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.input_err {
	border: 2px solid #ef9e4d;
	background-color: #FFE9D6;
}

.input2,.input_err {
	width: 200px;
	border: #ccc solid 1px;
	background-color: #fff;
	color: #666;
	margin-left: 15px;
	padding: 5px;
	display: inline-block;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px; ! important;
	position: relative;
}

.input2:focus {
	width: 200px;
	border: 1px solid #ef9e4d;
	background: #fff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.input_err {
	border: 2px solid #ef9e4d;
	background-color: #FFE9D6;
}

input.dtpicker{ width:110px; }
input.datepicker, td.datepicker{ width:100px; }

/*logger需要的样式*/
.logz{position: absolute; top: 10px; height: 18px;  right:10px; text-align:left; opacity:0.7; z-index:2048;}
.logi{display:block; background-color:#ffffae; width:240px; padding:2px; margin:5px;}

/* another pagination plugin */
ul.pages {
	display:block;
	border:none;
	text-transform:uppercase;
	font-size:10px;
	margin:10px 0 50px;
	padding:0;
}

ul.pages li {
	list-style:none;
	float:left;
	border:1px solid #ccc;text-align:center;
	text-decoration:none;
	margin:0 5px 0 0;
	padding:5px;
}

ul.pages li:hover {
	border:1px solid #003f7e;
}

ul.pages li.pgEmpty {
	border:1px solid #eee;
	color:#eee;
}

ul.pages li.pgCurrent {
	border:1px solid #003f7e;
	color:#000;
	font-weight:700;
	background-color:#eee;
}

/* 对话框中用到的样式 */
.dialog_content {
	text-align:center;
	margin:5px 15px 15px 20px;
}

.dialog_table {
	line-height: 25px;
	width:100%;
}

.dialog_table th, .dialog_table td {
	padding: 0 5px;
	text-align: left;
	white-space: nowrap;
}

/* jquery pagenation css*/
#pagen, #pagination, .pagen{ padding-top:10px; }

.pagination {
    font-size: 80%;
    line-height: 15px;
    text-align: center;
}
.pagination a {
    text-decoration: none;
	border: solid 1px #AAE;
	color: #15B;
}
.pagination a, .pagination span {
    display: inline;
    /*float: left;*/
    padding: 0.3em 0.5em;
    margin-right: 5px;
	margin-bottom: 5px;
	min-width:1em;
	text-align:center;
}
.pagination .current {
    background: #26B;
    color: #fff;
	border: solid 1px #AAE;
}
.pagination .current.prev, .pagination .current.next{
	color:#999;
	border-color:#999;
	background:#fff;
}

ul.errorlist { list-style-type: none; color: #FF0000; display: inline; font-size: 10px;}
ul.errorlist li{list-style-type: none; display: inline;}

/* 皮肤(skin)(.s-) */
.s-fc0,a.s-fc0:hover{color:#000;/* 黑色 */}
.s-fc1,a.s-fc1:hover{color:#333;/* 灰黑色 */}
.s-fc2,a.s-fc2:hover{color:#666;/* 灰色 */}
.s-fc3,a.s-fc3:hover{color:#999;/* 浅灰色 */}
.s-fc4,a.s-fc4:hover{color:#bdd5f0;/* 粉蓝色 */}
.s-fc5,a.s-fc5:hover{color:#fb9354;/* 橘黄色 */}
.s-fc6,a.s-fc6:hover{color:#1d63b2;/* 蓝色 form标签色 */}
.s-fc00,a.s-fc00:hover{color:#fff;}
.s-fc7,.m-news li a.s-fc7{color:#FF0000;}
.s-fc8,.m-news li a.s-fc8{color:#009900;}
.s-fc9,a.s-fc9:hover{color:#ee4b0a;}

.clipboard {display:inline;}

.help{
	
}
.help ul,li{list-style:none;}
.help h1 {
	display: block;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    padding: 0 0 15px;
    word-wrap: break-word;
}
.help a:link {
    text-decoration: none;
}
.help a:hover{
    background: none repeat scroll 0 0 #003399;
    color: #FFFFFF;
    text-decoration: none;
}
.help_index{
	padding-bottom:10px;
}
.help_index li{
	padding:5px 0px;
}
.help_index li a{font-size:14px;}
.m{
	font-size:14px;
    padding: 0 0 10px;
}
.ans {
    background: none repeat scroll 0 0 #F7F7F7;
    margin-bottom: 12px;
    margin-top: 9px;
    padding: 10px;
}
.hilight{color:#FF0000;}


.item ul li {
    float: left;
    list-style: none;
    padding: 2px;
}

img.editImage{
	cursor:pointer;
	padding-top:10px;
	max-width:180px;
	max-height:180px;
}


.m-form { 
	
}
.m-form table {
	text-align:left; 
	vertical-align:middle; 
	margin: auto; 
	border-spacing: 2px;
}
.m-form table tr {
	vertical-align:middle;
	height:29px;
}
.m-form table th,td {
	padding: 7px 2px;
}
.m-form table th{ text-align: right;}
.m-form table td{ text-align: left;}
.m-form table input{
  vertical-align:middle;
}

.m-form table input[type="text"]{width:110px;}
.m-form table select{width:115px;}
.m-form table span{padding-left: 15px;}
.m-form table span.query{float:right;}
.m-form table input[type="button"]{width:80px;}

/* simple row system*/
.row {
  position: relative;
  width: 100%;
}

.row [class^="col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%;
}
@media only screen and (min-width: 45em) {  /* 720px */
  .col-1 {
    width: 4.33%;
  }

  .col-2 {
    width: 12.66%;
  }

  .col-3 {
    width: 21%;
  }

  .col-4 {
    width: 29.33%;
  }

  .col-5 {
    width: 37.66%;
  }

  .col-6 {
    width: 46%;
  }

  .col-7 {
    width: 54.33%;
  }

  .col-8 {
    width: 62.66%;
  }

  .col-9 {
    width: 71%;
  }

  .col-10 {
    width: 79.33%;
  }

  .col-11 {
    width: 87.66%;
  }

  .col-12 {
    width: 96%;
  }

  .hidden-sm {
    display: block;
  }
}